{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="container portfolio">
        <div class="row">
            <div class="col-md-12">
                <div class="heading">				
                    <img src="https://image.ibb.co/cbCMvA/logo.png" />
                </div>
            </div>	
        </div>
        <div class="bio-info">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="bio-image">
                                <img src="http://lorempixel.com/273/273/people/{{ user.first_name }}" alt="image" />
                            </div>			
                        </div>
                    </div>
									
                </div>
                <div class="col-md-6">
                    <div class="bio-content">
                        <h1>¡Hola {{ user }}!</h1>
                            {% for categoria in user.categorias.all %}
                                <h5>{{ categoria }}</h5>
                            {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row">
                {% for dimension,valor in menciones.items %}
                    {{ dimension }}: {{ valor }}
                {% endfor %}
            </div>	
        </div>
    </div>

{% endblock %}